<div>
<div id="orinda-1"></div>
<p>Conveniently located off highway 24 in Orinda, California, our mission is to help you look great every day. Our certified medical estheticians are trained in the latest treatments and technologies to bring back your skin’s natural beauty. Call us today or use our easy online scheduler to plan your visit. We look forward to seeing you.</p>
</div>

<br><br>
<div>
	<strong style="font-size:2em;"> Elizabeth Buddington</strong><br>
	Certified Medical Esthetician<br><br>

	<div id="eliz-photo">
		

	</div>
	<p>Elizabeth is dedicated to providing her clients with personalized skin care that promotes health and beauty.</p>
	
	<p>Her unique approach combines a practical daily care with the latest and most effective treatments and products.</p>
	
	<p>In addition to educating her clients about how to protect and promote healthy skin, Elizabeth stays current with the newest procedures and treatments for aging skin, sun damage, rosacea and acne through continuing education, industry conferences and training.</p>
	
	<br>

	<strong style="font-size:2em;">Philosophy</strong> <br>
	My goal is to help my clients feel good about how their skin looks and feels. I focus on what’s important to them first and then use a combination of professional treatments and good basic daily care to get results that also work with each person’s inspanidual lifestyle.<br><br>
</div>

<div style="float:right;">
	<strong style="font-size:1.2em;">Professional Certification</strong><br>
	Certified Medical Esthetician<br>
	NCEA Member<br>
	SDSS Member<br>
	Certified First Aid /CPR<br><br>
</div>
<strong style="font-size:1.2em;">Med EstheticsRx is proud to support the following organizations</strong>
<div>
	<ul>
		<li>Juvenile Diabetes Research Foundation</li>
		<li>Orinda Baseball Association</li>
		<li>Crocker Highlands Elementary</li>
		<li>St. Luke’s Foundation</li>
		<li>Prospect Sierra School</li>
		<li>Make a Wish Foundation</li>
	</ul>
</div>
