</div><!-- PARTIAL FOOTER -->
	<div ng-hide="true">
		<img src="/images/orinda-1.jpg">
		<img src="/images/elizabeth.jpg">
		<img src="/images/products-collage.png">
		<img src="/images/products-2.jpg">
		<img src="/images/products-1.jpg">
		<img src="/images/award.gif">
		<img src="/images/news.gif">
		<img src="/images/orinda-2.jpg">
	</div>
</body>
</html>
