<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta 	charset="utf-8">
	<meta 	http-equiv="X-UA-Compatible" content="IE=edge">
	<meta 	name="description" content="Our certified medical estheticians are trained in the latest treatments and technologies to bring back your skin’s natural beauty">
	<title 	ng-bind="title"></title>

	<!-- FONTS -->
	<link 	href="https://fonts.googleapis.com/css?family=Josefin+Sans:100|Muli:300" rel="stylesheet" type="text/css">
	<link 	href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet" type="text/css">
	<link 	rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">

	<!-- ANGULAR -->
	<script src="bower_components/angular/angular.min.js"></script>

	<!-- BOOTSTRAP -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<link 	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link 	rel="stylesheet" type="text/css" href="css/style.css" />

	<!-- ANGULAR DIRECTIVES -->
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>

	<!-- ANGULAR WIRING -->
	<script src="js/main.js"></script>
	<script src="js/router.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/components.js"></script>

	<!-- GOOGLE MAPS -->
	<script src="https://maps.googleapis.com/maps/api/js"></script>

	<!-- PREFETCH -->
<link rel="prefetch" href="/images/orinda-1.jpg">
<link rel="prefetch" href="/images/elizabeth.jpg">
<link rel="prefetch" href="/images/products-collage.png">
<link rel="prefetch" href="/images/products-2.jpg">
<link rel="prefetch" href="/images/products-1.jpg">
<link rel="prefetch" href="/images/award.gif">
<link rel="prefetch" href="/images/news.gif">
<link rel="prefetch" href="/images/orinda-2.jpg">

</head>
<body ng-view ng-cloak>
	<div class="background">
	<div id="background-home">

	<section id="section-head">
		<div id="logo"></div>
		<div id="sub-head">Look great every day!</div>
		<div class="links">
			<!-- <p class="link" ng-click="app.tabFunction(key)">Schedule An Appointment</p> -->
			<a class="link" href="mailto:Contact@Med-EstheticsRx.com?subject=Appointment Request">Schedule An Appointment</a>
			<p class="link" ng-click="app.tabFunction('CONTACT')">Contact Us!</p>		
		</div>
	</section>

<!-- LEFT SLIDING DRAWER -->
	<div id="drawer-show">
		<div ng-click="app.showLeft($event)" id="drawer-activate"><span class="fa fa-bars"></span></div>
		<drawer visible="leftVisible" alignment="left">
			<div class="nav nav-tabs" id="spacer">
				<div ng-repeat="(key,val) in views track by $index" ng-class="{active:val}">
					<a href="" ng-click="app.tabFunction(key)" ng-bind="key"></a><br>
				</div> 
			</div>
		</drawer>
	</div>
