<section id="news-content">
	<div id="award"></div>
	<p style="font-size:2em;"><strong>Esthetician Super Fan 2010 – Congrats to our winners!</strong></p>	
	<p>I love what Elizabeth does for my skin, in office and what she teaches me for home care. I'm addicted to my Clarisonic - won't go a day without it. My skin has never looked better in my entire life. Since moving to SF two years ago, and being diagnosed with aggressive breast cancer at that same time, my skin glows and despite two years of chemo and treatments. I've never had more compliments about my skin.</p>
	<br>
	<p><strong>Kimberley Atwater, San Francisco CA</strong></p>
	<p style="font-size:.8em;">Please note this contest only allowed a paragraph for each entry</p>
	<p style="font-size:.8em;">Med EstheticsRx won 2nd place in the Clarisonic Super Fan Contest.</p>
	<br>

	<div id="news"></div>
	<p style="font-size:2em;"><strong>Orinda News</strong></p> 
	<p>Med EstheticsRx was featured in the Orinda News April 2010 edition.</p>
	<a href="" ng-click="app.openPDF()">Click here to view the article</a>
</section>
