<div class="products-content">
	
	<div id="products-collage"></div>
	
	<div id="products-1"></div>

	<p><strong>Med EstheticsRx</strong> employs and recommends specific products that offer the best results to our clients from manufacturers we trust to be safe and effective. If you purchase any of our products for your daily care and are not satisfied for any reason, we will gladly refund or exchange your purchase. Most daily care programs include some of these products but we also include products you may already have.</p>

	<div id="products-2"></div>

</div>
