<section class="services-content">
	<p class="content-title"><strong>Skin Treatments</strong></p>

	<div class="content-blocks">
		<p class="content-subTitles"><strong>Healthy Glow</strong></p>
		<p>Regain your youthful, healthy glow with this comprehensive treatment that provides proven results. Each treatment is customized to your specific needs and includes microdermabrasion, derma-planing, extractions (if necessary), ultrasound with high strength vitamin C and hyaluronic acid for superior hydration, eye lash tint, brow arch, and paraffin occlusion mask.</p>
		<p>90 minutes $150</p>	
	</div>

	<div class="content-blocks">
		<p class="content-subTitles"><strong>Skin Care 101</strong></p>
		<p>Learning how to protect and take care of your skin from an early age is a life skill that can be appreciated now and forever. It’s so important that we’ve designed this special introduction to skin care for young adults. A personalized step-by-step to keep their skin looking great and prevent or minimize outbreaks due to exposure or acne related causes. The one-hour session includes a skin analysis, demonstration of proper techniques and the need for cleansing, removing make-up, product use, basic make-up application and sun protection for skin, and body as well as microdermabrasion and lactic acid micro peel.</p>
		<p>60 minutes $95</p>
	</div>

	<div class="content-blocks">
		<p class="content-subTitles"><strong>Express Cleansing Treatment</strong></p>
		<p>Save time and get great results with a 45-minute treatment that gives your face that special glow, even on the go! Treatment includes microdermabrasion, extractions (if necessary), and either hydrating ultrasound or a lactic acid micro peel (depending on skin type and desired results).</p>
		<p>45 minutes $85</p>
	</div>
</section>




<section class="services-content">
	<p class="content-title"><strong>Skin Treatment Series</strong></p>

	<div class="content-blocks">
		<p class="content-subTitles"><strong>Blushing Bride Series</strong></p>
		<p>Your wedding day is one of the most happily awaited moments of you life. To ensure your skin is glowing, prepare with the Blushing Bride Series three months prior to your special day.</p>
		<p>Treatment includes microdermabrasion, derma-planing, extractions (if necessary), ultrasound with high strength vitamin C and hyaluronic acid for superior hydration, eye lash tint, brow arch, and paraffin occlusion mask.</p>
		<p>90 minutes</p>
		<p>Special package series of three treatments $400</p>
	</div>


	<div class="content-blocks">
		<p class="content-subTitles"><strong>Spot-On Body Glow Treatments</strong></p>
		<p>Spot-on body glow treatments are just $25 when added to a facial</p>
	</div>


	<div class="content-blocks">
		<p class="content-subTitles"><strong>Microdermabrasion</strong></p>
		<p class="content-subTitles"><strong>& Paraffin Moisture Wrap for:</strong></p>
		<ul>
			<li>Hands</li>
			<li>Décolleté</li>
			<li>Arms & Elbows</li>
			<li>Back</li>
			<li>Feet</li>
		</ul>
		<p>Choose one area for $40, two for $60,</p>
		<p>or three for $100</p>
	</div>


	<div class="content-blocks">
		<p class="content-subTitles"><strong>Peels</strong></p>
		<p>Chemical Peels are an excellent way to smooth skin texture, diminish fine lines and acne scars, and improve the overall appearance of your skin. We offer a variety of clinical peels depending on your skin condition and personal goals.</p>
		<p>45 minutes $75-$200</p>
		<p>(discount with purchase of three or more peels)</p>
	</div>


	<div class="content-blocks">
		<p class="content-subTitles"><strong>Back Micro-Peel</strong></p>
		<p>Recommended for people with sun damage or acne scarring. Plan ahead as peels may result in redness and peeling for 3-5 days after treatment.</p>
		<p>45 minutes $75</p>
	</div>


	<div class="content-blocks">
		<p class="content-subTitles"><strong>Eye Lash and/or Brow Tint</strong></p>
		<p>Perfect anytime you don’t want to wear makeup.</p>
		<p>Lasts 4-6 weeks on average.</p>
		<p>$20 each or both for $30</p>
	</div>
</section>





<section class="services-content">
	<p class="content-title"><strong>Facials</strong></p>

	<div class="content-blocks">
		<p class="content-subTitles"><strong>Express Cleansing Treatment</strong></p>
		<p>Save time and get great results with a 45-minute treatment that gives your face that special glow, even on the go! Treatment includes microdermabrasion, extractions (if necessary), and either hydrating ultrasound or a lactic acid micro peel (depending on skin type and desired results).</p>
		<p>45 minutes $85</p>
	</div>
</section>
