<% include ./partials/header.ejs %>

<!-- <div id="section-content"> -->
	<ul class="nav nav-tabs" id="hide-tabs"> 
	    <div ng-repeat="(key,val) in views track by $index" ng-class="{active:val}">
			<a href="" ng-click="app.tabFunction(key)" ng-bind="key"></a>
	    </div> 
	</ul> 


<div class="home-content" ng-show="views.HOME">
	<div class="home-top">The secret to beautiful skin is healthy skin !</div>
	<div class="home-mid">Let us help you look great every day</div>
	<div class="home-bot">
		<div>Customized deep cleaning treatments and simple, daily</div>
		<div>home-care regiments that will give your skin</div>
		<div>a healthy youthful glow</div>
	</div>
</div>



	<div class="tab-content" ng-hide="views.HOME">

		<div class="tab-pane" ng-class="{active : views.SERVICES}">
			<div class="content-box">
				<% include ./partials/services.ejs %>
			</div>
		</div>

		<div class="tab-pane" ng-class="{active : views.PRODUCTS}">
			<div class="content-box">
				<% include ./partials/products.ejs %>
			</div>
		</div>

		<div class="tab-pane" ng-class="{active : views.NEWS}">
			<div class="content-box">
				<% include ./partials/news.ejs %>
			</div>
		</div>

		<div class="tab-pane" ng-class="{active : views.ABOUT}">
			<div class="content-box">
				<% include ./partials/about.ejs %>
			</div>
		</div>

		<div class="tab-pane" ng-class="{active : CONTACT}">
			<div class="content-box">
				<% include ./partials/contact.ejs %>
			</div>
		</div>

	</div>

<!-- </div> -->
<% include ./partials/footer.ejs %>
