.background {
	position: absolute; 
	background: white;
	background: url(../images/gallery-1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	top: 0; 
	left: 0; 
	width: 100%;
	height: 2400px;
	z-index: -10;
}

html, body {
	font-family: 'Josefin Sans', sans-serif;
	overflow: hidden;
	z-index: -10;
}

[ng\:cloak], 
[ng-cloak], 
[data-ng-cloak], 
[x-ng-cloak], 
.ng-cloak, 
.x-ng-cloak {
  display: none !important;
}


/*GLOBALS >***************************************************/
p {
	margin-bottom: 7px;
 }
 a, 
 a:active, 
 a:focus {
	outline: none; /*TO DISABLE BOXES AROUND CLICK AREAS IN FIREFOX*/
}



/*HEADER >***************************************************/
#section-head {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 120px;
	width: 100%;
	font-size: 2em;

}

#logo {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 95px;
	width: 322px;
	background: url('../images/logo.png');
	z-index: -8;
}

#sub-head {
	position: fixed;
	top: 100px;
	left: 50px;
	color: #814700;
	text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}

.links {
	position: fixed;
	top: 10px;
	right: 10px;
	color: #ffdb00;
	text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
	font-size: .8em;
	text-align: center;
    text-decoration: none;
	cursor: pointer;
}

.link:hover {
	color: white;
	text-decoration: none;
}

#section-content {
	position: fixed;
	top: 120px;
	left: 0px;
	height: 100%;
	width: 100%;
}




/*PHOTOS >***************************************************/
#orinda-1 {
	position: relative;
	top: 0px;
	margin: 0 10px 10px 0;
	float: left;
	height: 286px;
	width: 191px;
	background: url('../images/orinda-1.jpg');
	border: solid 2px #b0b0b0;
	display: inline-block;
}

#eliz-photo {
	position: relative;
	top: 0px;
	margin: 0 0 5px 5px;
	float: right;
	height: 286px;
	width: 286px;
	background: url('../images/elizabeth.jpg');
	border: solid 2px #b0b0b0;
	display: inline-block;
}



/*TABS >***************************************************/
.nav.nav-tabs {
	position: relative;
	margin: 0 auto;
	min-width: 482px;
	width: 100%;
	margin: 40px 0 10px 0;
	text-align: right;
	font-size: 2em;
}
.nav-tabs{
	background: transparent;
	border: none;
}
.nav-tabs > div > a{	
	border: none;
    color: #6c3fb4;
}
.nav-tabs > div {
	display: inline;
	margin: 0 17px;
}
.nav-tabs > div > a:hover{
 	background-color: rgba(0, 0, 0, 0) !important;
    border: none;
    text-decoration: none;
    color: #9a6ae5;
	text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}
.nav-tabs > div.active > a,
.nav-tabs > div.active > a:focus,
.nav-tabs > div.active > a:hover{
    background-color: rgba(0, 0, 0, 0) !important;
    border: none;
    color: #9a6ae5;
	text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
    text-decoration: none;
}




/*PANELS >*******************************************/
.tab-content{
	background: rgba(255, 255, 255, .75);
	position: absolute;
	top: 100px;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0 18px;
	-webkit-box-shadow: 0px 0px 50px 0px rgba(0, 100, 255, 0.25);
	-moz-box-shadow:    0px 0px 50px 0px rgba(0, 100, 255, 0.25);
	box-shadow:         0px 0px 50px 0px rgba(0, 100, 255, 0.25);
	z-index: -1;
}

.tab-pane {
	position: absolute;
	min-height: 550px;
	width: 100%;
}

.content-box {
	position: absolute;
	height: 100%;
	font-family: 'Muli', sans-serif;
	color: #444444;
	text-align: left;
	font-size: .95em;
	padding-right: 18px;
	overflow-y: auto;
}





/*SLIDING SIDE MENU***********************************************************/
#drawer-show {
	visibility: hidden;
}
#drawer-activate {
	position: fixed;
	top: 5px;
	left: 20px;
	font-size: 4em;
	color: #fff6b7;
	cursor: pointer;
}
#spacer {
	top: 100px;
}

.border-box {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
drawer {
	display: block;
}
drawer > div {
	position: absolute;
	z-index: 2;
	top: 0;
	width: 700px;
	height: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-transition: -webkit-transform ease 250ms;
	-moz-transition: -webkit-transform ease 250ms;
	-ms-transition: -webkit-transform ease 250ms;
	-o-transition: -webkit-transform ease 250ms;
	transition: -webkit-transform ease 250ms;
	-webkit-transition: transform ease 250ms;
	-moz-transition: transform ease 250ms;
	-ms-transition: transform ease 250ms;
	-o-transition: transform ease 250ms;
	transition: transform ease 250ms;
}
drawer > div {
	background: rgba(0, 0, 0, .7);
	height: 100%;
	left: -700px;
	font-size: 4em;
}
drawer > div.show {
	transform: translate3d(700px, 0, 0);
	-ms-transform: translate3d(700px, 0, 0);
	-webkit-transform: translate3d(700px, 0, 0);
	-o-transform: translate3d(700px, 0, 0);
	-moz-transform: translate3d(700px, 0, 0);
}
drawer > div > div:hover {
	color: #30659b;
}






/*RESPONSIVE DESIGN (BROWSER SIZE)*****************************************************/
/*test MEDIUM size*/
@media (max-width: 815px) {
	.nav.nav-tabs {
		font-size: 1.8em;
		text-align: center;
	}
}

/*test SMALL size*/
@media (max-width: 667px) {

	#logo {
		left: 80px;
	}

	#sub-head {
		left: 130px;
	}


	#hide-tabs {
		visibility: hidden;
	}

	#drawer-show {
		visibility: visible;
	}

	drawer > div {
	width: 500px;
}
	drawer > div {
		left: -500px;
	}
	drawer > div.show {
		transform: translate3d(500px, 0, 0);
		-ms-transform: translate3d(500px, 0, 0);
		-webkit-transform: translate3d(500px, 0, 0);
		-o-transform: translate3d(500px, 0, 0);
		-moz-transform: translate3d(500px, 0, 0);
	}
}

/*RESPONSIVE DESIGN (DEVICE)**********************************************************/
/*iPhone size*/
/* 6 & 6s Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
	body h1 {
		font-size: 2.5em;
	}

	#logo {
		left: 20px;
	}

	#sub-head {
		left: 70px;
	}


	body section {
		font-size: 3em;
		margin: 0 0 100px 0;
	}

	#hide-tabs {
		visibility: hidden;
	}

	#drawer-show {
		visibility: visible;
	}

	.tab-pane {
		font-size: 3.5em;
	}

	#options {
		font-size: 2em;
	}

}





/*iPad size*/
/* Portrait */
	@media only screen
	  and (min-device-width: 768px)
	  and (max-device-width: 1024px)
	  and (orientation: portrait)
	  and (-webkit-min-device-pixel-ratio: 1) {

	}

	/* Landscape */
	@media only screen
	  and (min-device-width: 768px)
	  and (max-device-width: 1024px)
	  and (orientation: landscape)
	  and (-webkit-min-device-pixel-ratio: 1) {

	}

	/*iPhone size*/
	/* 6 & 6s Portrait and Landscape */
	@media only screen
	  and (min-device-width: 375px)
	  and (max-device-width: 667px)
	  and (-webkit-min-device-pixel-ratio: 2) {

	}

	/* 6+ Landscape */
	@media only screen
	  and (min-device-width: 414px)
	  and (max-device-width: 736px)
	  and (-webkit-min-device-pixel-ratio: 3)
	  and (orientation: landscape) {

	}



