.background {
	position: absolute; 
	background: white;
	background: url(../images/background_1x.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	top: 0; 
	left: 0; 
	width: 100%;
	height: 100%;
	z-index: -10;
}

html, body {
	font-family: 'Josefin Sans', sans-serif;
	overflow: hidden;
	z-index: -10;
}

[ng\:cloak], 
[ng-cloak], 
[data-ng-cloak], 
[x-ng-cloak], 
.ng-cloak, 
.x-ng-cloak {
  display: none !important;
}

#drawer-show {
	visibility: hidden;
}

/*GLOBALS >***************************************************/
p {
	margin-bottom: 7px;
 }
 a, 
 a:active, 
 a:focus {
	outline: none; /*TO DISABLE BOXES AROUND CLICK AREAS IN FIREFOX*/
}
ul {
	list-style-type: none;
}

li {
	position: relative;
	left: -20px;
}

/*HEADER >***************************************************/
#section-head {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 120px;
	width: 100%;
	font-size: 2em;

}

#logo {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 95px;
	width: 322px;
	background: url('../images/logo.png');
	z-index: -8;
}

#sub-head {
	position: fixed;
	top: 100px;
	left: 50px;
	color: #814700;
	text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}

.links {
	position: fixed;
	top: 10px;
	right: 10px;
	color: #ffdb00;
	text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
	font-size: .8em;
	text-align: center;
    text-decoration: none;
	cursor: pointer;
}
a.link:link {
	color: #ffdb00;
	cursor: pointer;
}

a.link:hover,
.link:hover {
	color: white;
	text-decoration: none;
	cursor: pointer;
}


/*TABS >***************************************************/
.nav.nav-tabs {
	position: absolute;
	top: 140px;
	margin: 0 auto;
	min-width: 482px;
	width: 100%;
	margin: 40px 0 10px 0;
	text-align: right;
	font-size: 2em;
}
.nav-tabs{
	background: transparent;
	border: none;
}
.nav-tabs > div > a{	
	border: none;
    color: brown;
    text-shadow: 0px 0px 10px rgba(0, 100, 255, .7);
}
.nav-tabs > div {
	display: inline;
	margin: 0 17px;
}
.nav-tabs > div > a:hover{
 	background-color: rgba(0, 0, 0, 0) !important;
    border: none;
    text-decoration: none;
    color: #9a6ae5;
	text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}
.nav-tabs > div.active > a,
.nav-tabs > div.active > a:focus,
.nav-tabs > div.active > a:hover{
    background-color: rgba(0, 0, 0, 0) !important;
    border: none;
    color: #9a6ae5;
	text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
    text-decoration: none;
}

/*PANELS >*******************************************/
.tab-content{
	background: rgba(255, 255, 255, .75);
	position: absolute;
	top: 220px;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px 18px;
	-webkit-box-shadow: 0px 0px 50px 0px rgba(0, 100, 255, 0.25);
	-moz-box-shadow:    0px 0px 50px 0px rgba(0, 100, 255, 0.25);
	box-shadow:         0px 0px 50px 0px rgba(0, 100, 255, 0.25);
	display: block;
	z-index: -1;
}

.tab-pane {
	position: absolute;
	height: 550px;
	width: 100%;
	display: block;
}

.content-box {
	position: absolute;
	height: 100%;
	font-family: 'Muli', sans-serif;
	color: #444444;
	text-align: left;
	font-size: .95em;
	padding-right: 18px;
	display: block;
	overflow-y: scroll;
}



/*HOME >***************************************************/
.home-content {
	color: brown;
	font-size: 2em;
	text-shadow: 0px 0px 10px rgba(0, 100, 255, .3);
	font-family: 'Dancing Script', cursive;
	opacity: .4;
}
.home-top {
	position: relative;
	top: -150px;
	float: left;
	margin: 20px;
	margin-top: 70px;
}
.home-mid {
	position: relative;
	top: -120px;
	float: right;
	margin: 10px 50px;
}
.home-bot {
	position: fixed;
	bottom: 20px;
	left: 0;
	right: 0;
	margin: 20px;
	text-align: center;
}

/*PRODUCTS >***************************************************/
.products-content {
	position: relative;
	left: 0px;
	right: 0px;
	color: grey;
	font-size: 1.4em;
	z-index: 10;
}

/*SERVICES >***************************************************/
.skin-content {
	background: rgba(255,64,0, .5);
	border: solid 1px #d2d0d0;
	text-align: center;
}
.skin-sections {
	background: rgba(86,154,186,.3);
}


.facial-content {
	background: rgba(230,230,250, .5);
	border: solid 1px #d2d0d0;
	text-align: center;
}
.facial-sections {
	background: rgba(86,154,186,.3);
}


.body-content {
	background: rgba(255,219,0, .3);
	border: solid 1px #d2d0d0;
	text-align: center;
}
.body-sections {
	background: rgba(86,154,186,.3);
}


.peels-content {
	background: rgba(255,0,231, .1);
	border: solid 1px #d2d0d0;
	text-align: center;
}
.peels-sections {
	background: rgba(86,154,186,.3);
}

.eyes-content {
	background: rgba(0,223,255, .1);
	border: solid 1px #d2d0d0;
	text-align: center;
}
.eyes-sections {
	background: rgba(86,154,186,.3);
}


.service-titles {
	font-size: 1.3em;

}
.service-blocks {
	position: relative;
	background: #fffbf0;
	min-height: 100px;
	width: 400px;
	margin: 20px;
	padding: 50px;
	box-shadow:         5px 7px 10px 0px rgba(0, 0, 0, 0.44);
	border: solid 1px cyan;
	border-radius: 100%;
	display: inline-block;
}

section-content

/*CONTACT >***************************************************/
.contact-content {

}

.address {
	position: absolute;
	top: 0;
	left: 0;
}

.directions {
	position: absolute;
	top: 0px;
	right: 530px;
	width: 350px;
	text-align: right;
}

.eastbound {
	position: relative;
	text-align: right;
}

.westbound {
	position: relative;
	text-align: right;
}




#map {
	position: relative;
	top: 0px;
	right: 0px;
	float: right;
	height: 378px;
	width: 500px;
/*	background: grey;
	background: url('../images/map.gif');*/
	box-shadow: inset 5px 7px 10px 0px rgba(0,0,0, 0.4);
	border: solid 2px #b0b0b0;
	display: inline-block;
}




/*PHOTOS >***************************************************/
#orinda-1 {
	position: relative;
	top: 0px;
	margin: 0 10px 10px 0;
	float: left;
	height: 286px;
	width: 191px;
	background: url('../images/orinda-1.jpg');
	border: solid 2px #b0b0b0;
	display: inline-block;
}

#orinda-2 {
	position: relative;
	top: 0px;
	margin: 0 10px 10px 0;
	float: left;
	height: 286px;
	width: 191px;
	background: url('../images/orinda-2.jpg');
	border: solid 2px #b0b0b0;
	display: inline-block;
}

#eliz-photo {
	position: relative;
	top: 0px;
	margin: 0 0 5px 5px;
	float: right;
	height: 286px;
	width: 286px;
	background: url('../images/elizabeth.jpg');
	border: solid 2px #b0b0b0;
	display: inline-block;
}

#products-collage {
	position: relative;
	top: 0px;
	margin: 0 10px 10px 0;
	float: left;
	height: 756px;
	width: 484px;
	background: url('../images/products-collage.png');
	display: inline-block;
}

#products-1 {
	position: relative;
	top: 0px;
	margin: 0 0 5px 5px;
	float: right;
	height: 144px;
	width: 216px;
	background: url('../images/products-1.jpg');
	-webkit-box-shadow: 5px 7px 10px 0px rgba(0, 0, 0, 0.44);
	-moz-box-shadow:    5px 7px 10px 0px rgba(0, 0, 0, 0.44);
	box-shadow:         5px 7px 10px 0px rgba(0, 0, 0, 0.44);
	border: solid 2px #b0b0b0;
	display: inline-block;
}

#products-2 {
	position: relative;
	top: 0px;
	margin: 0 auto;
	height: 240px;
	width: 360px;
	background: url('../images/products-2.jpg');
	-webkit-box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.44);
	-moz-box-shadow:    0px 7px 10px 0px rgba(0, 0, 0, 0.44);
	box-shadow:         0px 7px 10px 0px rgba(0, 0, 0, 0.44);
	border: solid 2px #b0b0b0;
	display: inline-block;
}

#award {
	position: relative;
	top: 0px;
	float: right;
	margin: 18px;
	height: 190px;
	width: 200px;
	background: url('../images/award.gif');
	-webkit-box-shadow: 5px 7px 10px 0px rgba(0, 0, 0, 0.44);
	-moz-box-shadow:    5px 7px 10px 0px rgba(0, 0, 0, 0.44);
	box-shadow:         5px 7px 10px 0px rgba(0, 0, 0, 0.44);
	border: solid 2px #b0b0b0;
	display: inline-block;
}

#news {
	position: relative;
	top: 0px;
	float: left;
	margin: 10px 10px 10px 12px;
	height: 265px;
	width: 180px;
	background: url('../images/news.gif');
	-webkit-box-shadow: -5px 7px 10px 0px rgba(0, 0, 0, 0.44);
	-moz-box-shadow:    -5px 7px 10px 0px rgba(0, 0, 0, 0.44);
	box-shadow:         -5px 7px 10px 0px rgba(0, 0, 0, 0.44);
	border: solid 2px #b0b0b0;
	display: inline-block;
}







/*RESPONSIVE DESIGN (BROWSER SIZE)*****************************************************/
/*test MEDIUM size*/
@media (max-width: 815px) {
	.nav.nav-tabs {
		font-size: 1.8em;
		text-align: center;
	}
}
/* MEDIUM DESKTOP size*/
@media (max-width: 1070px) {

	.directions {
		top: 410px;
		right: 20px;
		width: 350px;
	}
}


/*SMALL DESKTOP size*/
@media (max-width: 740px) {
	.address {
		top: 410px;
		left: 0;
	}

	.directions {
		width: 310px;
	}


}


/*test SMALL size*/
@media (max-width: 667px) {

}

/*RESPONSIVE DESIGN (DEVICE)**********************************************************/
/*iPhone size*/
/* 6 & 6s Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

.background {
	background: url(../images/background_2x.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}



	.tab-content {
		top: 220px;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 5px;
		padding-left: 9px;
	}

	.tab-pane {
		height: 1400px;
		width: 100%;
	}

	.content-box {
		height: 100%;
		font-size: .95em;
		padding-right: 18px;
		display: block;
	}


	/*SLIDING SIDE MENU***********************************************************/
	#hide-tabs {
		visibility: hidden;
	}

	#drawer-show {
		visibility: visible;
	}

	#logo {
		top: 0px;
		left: 30px;
	}

	#sub-head {
		top: 120px;
		left: 50px;
		font-size: 1.3em;
	}

	.links {
		top: 10px;
		right: 10px;
		font-size: 1.5em;
	}

	.home-top {
		top: 30px;
		margin: 20px;
		margin-top: 70px;
		font-size: 1.7em;
	}
	.home-mid {
		top: 40px;
		margin: 10px 50px;
		font-size: 1.7em;
	}
	.home-bot {
		bottom: 20px;
		left: 0;
		right: 0;
		margin: 20px;
		font-size: 1.7em;
	}

	.address {
		font-size: 1.3em;
	}

	.directions {
		font-size: 1.9em;
	}



	.nav.nav-tabs {
		top: 120px;
		margin: 0 auto;
		min-width: 482px;
		width: 100%;
		margin: 40px 0 10px 0;
		text-align: right;
		font-size: 3.3em;	
	}

	#drawer-activate {
		position: fixed;
		top: 40px;
		left: 10px;
		font-size: 6.2em;
		color: #fff6b7;
		cursor: pointer;
	}
	#spacer {
		top: 100px;
	}
	.border-box {
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	drawer {
		display: block;
	}
	drawer > div {
		position: absolute;
		z-index: 2;
		top: 0;
		width: 700px;
		height: 100%;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-transition: -webkit-transform ease 250ms;
		-moz-transition: -webkit-transform ease 250ms;
		-ms-transition: -webkit-transform ease 250ms;
		-o-transition: -webkit-transform ease 250ms;
		transition: -webkit-transform ease 250ms;
		-webkit-transition: transform ease 250ms;
		-moz-transition: transform ease 250ms;
		-ms-transition: transform ease 250ms;
		-o-transition: transform ease 250ms;
		transition: transform ease 250ms;
	}
	drawer > div {
		background: rgba(0, 0, 0, .7);
		height: 100%;
		left: -700px;
		font-size: 3em;
	}
	drawer > div.show {
		-webkit-transform: translate3d(700px, 0, 0);
		-moz-transform: translate3d(700px, 0, 0);
		-ms-transform: translate3d(700px, 0, 0);
		-o-transform: translate3d(700px, 0, 0);
		transform: translate3d(700px, 0, 0);
	}
	drawer > div > div:hover {
		color: #30659b;
	}







}





/*iPad size*/
/* Portrait */
	@media only screen
	  and (min-device-width: 768px)
	  and (max-device-width: 1024px)
	  and (orientation: portrait)
	  and (-webkit-min-device-pixel-ratio: 1) {

	}

	/* Landscape */
	@media only screen
	  and (min-device-width: 768px)
	  and (max-device-width: 1024px)
	  and (orientation: landscape)
	  and (-webkit-min-device-pixel-ratio: 1) {

	}

	/*iPhone size*/
	/* 6 & 6s Portrait and Landscape */
	@media only screen
	  and (min-device-width: 375px)
	  and (max-device-width: 667px)
	  and (-webkit-min-device-pixel-ratio: 2) {

	}

	/* 6+ Landscape */
	@media only screen
	  and (min-device-width: 414px)
	  and (max-device-width: 736px)
	  and (-webkit-min-device-pixel-ratio: 3)
	  and (orientation: landscape) {

	}



